.markItUpContainer,
.markItUpContainer textarea {
	background-color:#FFFFFF;
	box-shadow: none;
	border: 1px solid #eee;
}

.markItUpContainer .markItUpHeader ul {
	list-style:none;
	padding:0px;
}

.markItUpContainer .markItUpHeader ul li {
	display:inline-block;
	height:34px;
	width:34px;
}


.markItUpContainer .markItUpHeader ul li a {
	display:block;
}

.markItUpContainer .markItUpHeader ul li a:before {
	color:#333;
	font-family: 'FontAwesome';
	font-size: 14px;
	position:relative;
}

.markItUpContainer .markItUpHeader ul li.bold a:before {
	content: "\f032";
}

.markItUpContainer textarea:focus {
	box-shadow: none;
	border: 1px solid #eee;
}